common_packages:
  - curl
  - git
  - ca-certificates
  - ufw
  - python3
  - python3-pip
  - python3-venv
  - acl                # Essential for 'become' to work with unprivileged users
  - python3-psycopg2   # Required by Ansible to manage PostgreSQL