---

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade system packages
  apt:
    upgrade: dist

- name: Create shared Ansible remote tmp directory
  file:
    path: /tmp/.ansible/tmp
    state: directory
    owner: root
    group: root
    mode: '1777'

- name: Install common required packages
  apt:
    name: "{{common_packages}}"
    state: present

