---

- name: Base system deployment
  hosts: nodes
  become: true
  roles:
    - common
    - postgres
    - neo4j
    - redis
    - api
    - nginx

#ufw conf
- name: Post-deployment security configuration
  hosts: nodes
  become: true
  tasks:
    - name: Allow SSH for management
      community.general.ufw:
        rule: allow
        port: "22"
        proto: tcp

    - name: Allow HTTP for public API access
      community.general.ufw:
        rule: allow
        port: "80"
        proto: tcp

    - name: Deny direct access to internal API port 8000
      community.general.ufw:
        rule: deny
        port: "8000"
        proto: tcp

    - name: Enable UFW firewall and set default deny policy
      community.general.ufw:
        state: enabled
        policy: deny
        direction: incoming